@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

a {
  color: #30355c;
  font-size: 14px;
  margin-top: 8px;
  text-decoration: none;
}

.a--underline {
  text-decoration: underline;
}

label {
  color: #30355c;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

input {
  background: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 rgba(48, 53, 92, .25);
  color: #30355c;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 340px;
}

::placeholder {
  color: #c0c2ce;
  font-size: 13px;
  font-weight: 400;
}

.is-fixed {
  position: fixed;
}

.is-hidden {
  display: none;
}

.row-page {
  display: flex;
}

.section-right {
  width: 63%;
}

.section-right-bg {
  box-shadow: 0 0 40px 0 rgba(14, 16, 25, .30);
}

.section-right_container {
  display: flex;
  box-shadow: none;
}

.section-right_container-center {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-right_container-margin {
  margin-left: 70px;
  margin-top: 253px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: 370px;
}

.container-margin {
  margin-left: 240px;
  margin-top: 90px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.error,
.mark-error {
  color: #ff6b36;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
}

.container-animation {
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-name: show;
  animation-timing-function: ease-out;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.h1--blue {
  color: #30355c;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93px;
}
