$lightyellow: #f6c060;
$bgyellow: #fccd77;
$baseyellow: #f99d23;
$orange: #ff6b36;
$darkblue: #30355c;
$white: #fff;
$lightgrey: #c0c2ce;
$progressbargrey: #dedfe6;
$green: #63c56a;

$buttonlight: $lightyellow;
$button: $baseyellow;
